@import "../../asset/asset";

.upload-content { font-family: 'nanumsquare', sans-serif; font-style: normal; letter-spacing: -0.02em; text-align: justify; word-break: break-all;
  .up-inner { .p(15); .-box;
    .pc { .hide; }
    img { .wf; .vat; }
  }
}

@media screen and (min-width: 768px){
  .upload-content { max-width: 800px; margin: 0 auto;
    .up-inner { .p(50);
      .pc { .ib; }
      .mo { .hide; }
    }
  }
}